@charset "UTF-8";

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

img, embed,
object, video{
	max-width: 100%;
}

body{
	margin: 0;
 	font-family: Arial, Helvetica, sans-serif;
  	background-color: #217cc3;
}

.topnav{
	overflow: hidden;
  	background-color: #0b132d;
	height: 125px;
	padding-right: 10px;
}

#TopLogo{
	width: 250px;
	height: 125px;
	padding-right: 10px;
	float: left;
}

.topnav a{
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	margin-top: 70px;
	text-decoration: none;
	font-size: 20px;
	width: 130px;
}

.topnav a:hover{
  background-color: #ddd;
  color: black;
}

.topnav a.active{
	background-color: #217cc3;
  	color: white;
}

.topnav #AddGarm, #EditGarm, #DeleteGarm{
	float: left;
}

#Index, #Back{
	float: right;
}

.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #0b132d;
	position: fixed;
	height: 100%;
	overflow: auto;
	font-size: 20px;
}

.sidebar a {
	display: block;
	color: white;
	padding: 16px;
	text-decoration: none;
	margin-bottom: 10px;
}

.dropdown-container {
  display: none;
  background-color: #0b132d;
  padding-left: 8px;
}
 
.sidebar a.active{
	background-color: #217cc3;
	color: white;
}

.sidebar a:hover:not(.active){
	background-color: #ddd;
	color: black;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

div.content{
	margin-left: 200px;
	padding: 1px 16px;
	height: 1000px;
}

@media screen and (max-width: 700px){
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

.container{
  font-size: 35px;
  text-align: center;
  padding: 30px;
  width: 90%;
  height: 100%;
  margin-left: 150px;
}

.container h1{
	text-align: center;
}

.container h2{
	text-align: left;
}

.container .inner-wrap{
	height: 100%;
}

.row1{
	margin: auto;
	width: 70%;
	border: 3px solid black;
	height: 535px;
}

.row2{
	margin: auto;
	width: 70%;
	border: 3px solid black;
	height: 500px;
	font-size: 20px;
	margin-top: 15px;
}

.column{
  float: left;
  width: 50%;
  padding: 10px;
}

.column label{
	max-width: 200px;
	height: 100px;
	font-size: 20px;
}

.row2 .column{
	width: 25%;
	height: 220px;
}

.row2 #SizeColumn{
	height: 175px;
}

.row2 #Comments{
	width: 600px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#AddButton{
	margin-top: 20px;
	width: 150px;
	float: right;
	margin-right: 60px;
	font-size: 25px;
}

